/* ############ ESTILOS GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth; /* Se aplica solo en html */
}

/* ############ HEADER */

header {
    display: flex;
    height: 15vh;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgb(45, 156, 247);
}

.cont-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
}
  
.cont-logo img {
    max-width: 100%;
    height: auto;
}

img[src$='envios.png'] {
    height: 200px;
}

    /* ######### Nav */

nav {
    display: flex;
    width: 100%;
    align-items: center;
}

        /* ###### Título */

.link-titulo {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    margin-left: 5%;
}

.link:visited {
    color: #fff;
}

        /* ###### Inicio de Sesión y Registro */

.links-header {
    list-style: none;
    display: flex;
    gap: 50px;
    margin-left: 15%;
}

.link-header {
    color: #ecebeb;
    font-size: 1.1em;
    text-decoration: none;
    position: relative;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.link-header:hover {
    color: #fff;
    font-weight: 600;
}

.link-header:visited {
    color: #ecebeb;
}

.link-header::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: white;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
}

.link-header:hover::after {
    transform: scaleX(1);
}

        /* Ocultamos icono y checkbox en pantalla grande */

.img-menu {
    width: 53px;
    cursor: pointer;
    display: none;
}

#menu-toggle {
    display: none;
}

/* ############ MAIN CONTENT */

main {
    margin: auto;
    max-width: 80%;
}

h2 {
    font-size: 3.4em;
    text-align: center;
    margin-top: 30px;
    font-weight: 400;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(50px);
    }
    to{
        transform: translateY(0);
    }
}

.titulo {
    margin-bottom: 40px;
    color: rgb(45, 156, 247);
    text-shadow: 2px 4px 7px rgba(0,0,0,0.6);
    animation: fade 1s ease-in, slide-up 1.3s ease-in-out;
}

.txt {
    text-align: center;
    margin-top: 30px;
}

    /* ######### Sección Introducción */

.cont-introduccion {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.titulo {
    width: 100%;
}

.cont-login {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.intro-login {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
}

.login-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

        /* ###### Botones */

button {
    --color: rgb(45, 156, 247);
    font-family: inherit;
    display: inline-block;
    width: 30%;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}

.btn-inicio, .btn-registro {
    text-decoration: none;
    color: rgb(19, 168, 206);
    font-weight: 400;
}
   
button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

div button:hover .btn-inicio, div button:hover .btn-registro {
    color: #fff;
}
   
button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}
   
button:hover:before {
    top: -30px;
    left: -30px;
}

        /* ###### IMG  */
.intro-img {
    object-fit: contain;
}

.intro-img img {
    width: 90%;
}

    /* ######### Sección Promociones */

.promociones-intro h2 {
    margin-bottom: 30px;
    color: rgb(45, 156, 247);
    text-shadow: 2px 4px 7px rgba(0,0,0,0.6);
}

.promociones-intro {
    margin-bottom: 40px;
}

.cont-cards {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

        /* ###### Cards */
.cont-card {
    width: 33%;
    box-shadow: 0px -1px 12px 6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px -1px 12px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 12px 6px rgba(0,0,0,0.75);
}

.img-card {
    width: 100%;
    height: 472px;
    object-fit: cover;
}

.card-title {
    text-align: center;
    margin: 15px 0;
}

.card-title h3 {
    font-weight: 600;
}

.card-txt p {
    text-align: justify;
    height: 100px;
    margin: 0 15px;
}

.cont-btn {
    display: flex;
    justify-content: center;
}

.card-btn {
    border-radius: 10px;
    background-color: #2ba8fb;
    color: #fff;
    font-weight: 500;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
  
.card-btn:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}
  
.card-btn:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

/* ############ FOOTER */

footer {
    display: flex;
    background-color: rgb(45, 156, 247);
    color: #fff;
}

    /* ######### Sitio */

.cont-sitio {
    margin: 30px 0 0 10px;
    width: 25%;
}

.sitio {
    width: 100%;
}

.sitio-titulo h3 {
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 15px;
}

.sitio-lista ul li:nth-child(odd) {
    margin-bottom: 5px;
}

.sitio-lista ul li:nth-child(2) {
    margin-bottom: 5px;
}

.sitio-link {
    text-decoration: none;
    color: #fff;
}

.sitio-link:hover {
    font-weight: 600;
    text-shadow: 2px 3px 3px rgba(0,0,0,0.6);
}

    /* ######### Contactenos  */
.cont-contactenos {
    width: 50%;
    margin-top: 30px;
}

.contactenos {
    display: flex;
    flex-direction: column;
}
        /* Titulo Contactenos */
.footer-titulo {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

.footer-titulo h3 {
    font-size: 1.6em;
}

        /* Texto Contactenos */

.redes-txt {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.2em;
}

        /* Logos Redes */

.redes-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.logo {
    width: 50px;
    color: #fff;
}

.logo-linkedin {
    width: 37px;
}
    /* ######### Ubicación */

.cont-ubicacion {
    margin-top: 30px;
    width: 30%;
}

.ubicacion {
    width: 100%;
}

.titulo-ubicacion {
    text-align: center;
    margin-bottom: 20px;
}

.titulo-ubicacion h3 {
    font-size: 1.6em;
}

.cont-mapa {
    text-align: center;
}

.mapa {
    border-radius: 10px;
    width: 80%;
    height: 30%;
}

/* RESPONSIVE DESIGN */

    /*   992px   */

@media (max-width: 992px) {

    header {
        height: 25vh;
    }

    .titulo {
        margin-bottom: 0;
    }

    .cont-logo {
        display: none;
    }

    .cont-login {
        margin-top: 0;
    }

    .intro-img {
        display: flex;
        align-items: center;
    }

    .cont-cards {
        flex-direction: column;
    }

    .cont-card {
        width: 70%;
        margin: auto;
    }

    .img-card {
        height: 200px;
    }

    .card-title h3 {
        font-size: 1.4em;
    }

    .card-txt p {
        height: auto;
        margin-bottom: 20px;
    }

}

    /*   768px   */

@media (max-width: 778px) {

    header {
        height: 12vh;
    }

    h1 {
        font-size: 1.7em;
    }

    nav {
        justify-content: space-between;
    }

    .links-header {
        flex-direction: column;
        justify-content: center;
        background-color: rgba(29, 178, 247, 0.877);
        position: absolute;
        top: 27px;
        right: 100px;
        padding: 20px;
        border-radius: 10px;
        display: none; /* Ocultamos menu */
    }

    li {
        text-align: center;
    }

    label {
        display: flex;
        justify-content: end;
    }

    .img-menu {
        display: flex;
        margin-right: 20px;
    }

    @keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-left {
    from {
        transform: translateX(50px);
    }
    to{
        transform: translateX(0);
    }
}

    #menu-toggle:checked + .links-header {
        display: flex;
        animation: fade 0.7s ease-in, slide-left 0.7s ease-in-out;
    }

    .titulo {
        margin-bottom: 20px;
        color: rgb(45, 156, 247);
        text-shadow: 2px 4px 7px rgba(0,0,0,0.6);    
    }

    .cont-login {
        margin-top: 20px;
        justify-content: center;
        background-image: url('../img/correo.jpg');
        border-radius: 10px;
    }

    .login-txt {
        margin-top: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
    }

    .txt {
        margin-top: 0;
        padding: 20px;
        font-weight: 500;
    }

    .intro-img {
        display: none;
    }

    .promociones-intro h2 {
        color: rgb(45, 156, 247);
        text-shadow: 2px 4px 7px rgba(0,0,0,0.6);
    }

    footer {
        flex-wrap: wrap;
    }

    .cont-sitio {
        margin: 0;
        width: 50%;
    }

    .sitio-link {
        padding: 50px;
    }

    .cont-contactenos {
        width: 50%;
        margin: 0;
    }

    .cont-ubicacion {
        width: 100%;
    }

}

    /*   576px   */

@media (max-width: 576px){
    
    .login-btn {
        flex-direction: column;
        width: 100%;
    }
    
    .login-btn button {
        width: 75%;
    }
    
    footer {
        flex-direction: column;
    }
    
    .cont-sitio {
        width: 100%;
        margin-top: 15px;
    }
    
    .footer-titulo h3 {
        font-size: 2.5em;
    }
    
    .sitio-lista ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    .sitio-link {
        font-size: 1.3em;
    }
    
    .cont-contactenos {
        width: 100%;
        margin-top: 20px;
    }
}


