* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ETIQUETAS */

body {
    max-width: 90%;
    margin: 20px auto;
    font-family: 'Open Sans', sans-serif;
}

/* ######################################### */

/* HEADER */

header {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    width: 100%;
    margin-right: 50px;
    justify-content: end;
}

li {
    padding: 0 20px;
}

img {
    height: 180px;
}

/* ######################################### */


/* CLASES */

.cont-logo {
    display: flex;
}