/* Desktop */
@media (max-width: 1305px) {
    .menu-label {
        display:none;
    }
}

/* Tablet */
@media (max-width: 992px) {
    .cont-portada {
        display: inline;
    }

    .cont-presentacion {
        width: 100%;
    }

    .cont-botones {
        margin-bottom: 50px;
    }

    .contacto {
        width: 20%;
    }

    .btn {
        width: 20%;
    }

    .cont-foto-perfil {
        width: 100%;
    }

    .cont-texto-presentacion {
        margin-top: 50px;
    }

    .footer-titulo {
        display: none;
    }

    .cont-info {
        display: block;
    }

    .cont-info-logo {
        justify-content: center;
        margin-bottom: 15px;
    }

    .cont-footer-numeroContacto {
        text-align: center;
        width: 100%;
    }
}

/* Medium */
@media (max-width: 768px) {

    .cont-logo {
        width: 100%;
        text-align: center;
    }

    nav {
        display: none;
    }

    .contacto {
        width: 30%;
    }

    .foto-perfil {
        width: 300px;
    }

    .cont-cards {
        display: block;
        width: 100%;
    }

    .card {
        width: 100%;
        margin-bottom: 30px;
    }

    .cont-contactUs {
        width: 100%;
    }
    
    .info-footer {
        width: 100%;
    }

    .footer-img {
        display: none;
    }

}